site_name: DIYraman Documentation
site_url: https://docs.diyraman.com

docs_dir: docs

theme:
  name: material
  language: en

  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.tracking
    - toc.integrate
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link

  palette:
    - scheme: slate          # dark scheme first = default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

  font:
    text: Roboto
    code: JetBrains Mono

plugins:
  - search
  - callouts

repo_url: https://github.com/jacobbusshart/DIYraman
repo_name: DIYraman

markdown_extensions:
  - nl2br
  - admonition
  - toc:
      permalink: "#"
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.emoji
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
